header
  if (typeof username=="undefined")
   a(href="/") Home 
   a(href="/login") Login 
   | &nbsp;
   a(href="/signup") Signup
  else
   span=username
   | &nbsp;
   a(href="/logout") logout
  span.top-right
   | &nbsp;|
   | Made with Love
   | @
   a( href="http://sfdevlabs.com") SFDevLabs