body
	font-family Helvetica Neue
	margin 0px
	background-color #fff
	margin-bottom 30px

a
	color #fff
	font-size 1.1em
	
.container
	background-image url('../images/back-cork.jpg')
	max-width 800px
	margin auto
	padding 5px
	border-image url('../images/border.jpg') 10 10 repeat
	border-width 20px
	
.shadow
	-webkit-box-shadow 2px 9px 10px 3px rgb(190, 190, 190)
	-moz-box-shadow 2px 9px 10px 3px rgb(190, 190, 190)
	box-shadow 2px 9px 10px 3px rgb(190, 190, 190)
	
button
	font-size 1.1em
	
h1
	margin 5px
	font-size 2.8em

h2
	margin 5px
	font-size 1.2em

#app, input, textarea
	font-size 1.2em
	font-family Comic sans ms

#list
	list-style none
	margin-top 25px
	border-color #555

#new-post
	border none

#new-post-title
	font-size 20px

#new-post-body
	font-size 20px

header
	margin-left 5px
	padding 5px
	margin-bottom 50px
	.top-right
		color #222
	a
		color #666
footer
	padding 10px
	.top-right
		font-size .8em
		float right


.heading
	border-radius 5px
	margin 20px auto
	font-family Helvetica Neue
	color #333
	width 800px
	text-align center
	
.form-box
	margin auto
	width 300px

	input
		width 100%

	textarea
		width 100%

	.submit
		float right

.logo
	text-align center

.view
	background-image: url(../images/tac.png), url(../images/tac.png);
	background-position: right top, left top;
	background-repeat: no-repeat;
	position: relative;
	background-color #fff
	margin 7px 75px 7px 125px
	padding 25px 5px 5px 5px;
	border-radius 0px 5px 5px 0px
	a
		color blue

	.border
		width 50px
		height 100%
		position absolute
		left -50px
		top 0px
		background-image url('../images/paperborder.png')

.title
	text-align center

.bottom-label
	text-align right

.username
	color #666

.timestamp
	color #999

.login-prompt
	width 100%
	text-align center
	font-family Helvetica Neue
	padding 10px 5px
	background-color #444
	border-radius 5px
	a
		font-size 2em
		color #fff


.control-box
	position absolute
	right 0px
	a
		text-decoration none
		padding 3px
		font-size 1.2em

.main-auth
	margin 50px auto
	width 400px

.loginOptions
	float right

.body-edit
	display none

.title-edit
	display none

.submit-update
	display none

.editing
	.body-edit
		display inline-block
	.title-edit
		display inline-block
	.body
		display none
	.title
		display none
	.submit-update
		display inline-block
		
.loginOptions
	text-align center
	a
		text-decoration none
		color #555
	> div 
		background #eee
		margin-bottom 5px
		border-radius 5px
		padding 5px

