body
  font-family Helvetica Neue
  background-color #FFEACB
  margin 0px
  padding 5px

button
  font-size 1.1em
h1
  margin 5px
#list
  list-style none
  border-top 1px solid
  margin-top 25px
  border-color #555
#new-post
  border none
#new-post-title
  font-size 20px
#new-post-body
  font-size 20px
header a
	margin-left 5px
header
	.top-right
		float right
.heading
	text-align center
	margin 20px
.form-box
	margin auto
	width 300px
	input
		width 100%
	textarea
		width 100%
	.submit
		float right
.container
	max-width 800px
	margin auto
.logo
	text-align center
.view
  position: relative;
  border-bottom 1px solid #777
  border-color #555
  margin 5px
  padding 5px
.title
  text-align center
.bottom-label
  text-align right
.username
  color #666
.timestamp
  color #999
.login-prompt
	width 100%
	text-align center
.control-box
  position absolute
  right 0px
  a
  	text-decoration none
  	padding 3px
  	font-size 1.2em
.main-auth
	margin auto
	width 400px
.loginOptions
	float right
.body-edit
	display none
.title-edit
	display none
.submit-update
	display none
.editing
	.body-edit
		display inline-block
	.title-edit
		display inline-block
	.body
		display none
	.title
		display none
	.submit-update
		display inline-block

